.confirmBG {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

.confirmContainer {
  width: 700px;
  height: 500px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.confirmContainer .head {
  display: flex;
  justify-content: center;
}

.confirmContainer .body {
  flex: 50%;
  display: flex;
  text-align: left;
  justify-content: center;
  padding-top: px;
}

.confirmContainer .foot {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}

.confirmContainer .foot button {
  border: none;
  background-color: #bea9ef;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
