.modalBG {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

.modalContainer {
  width: 1000px;
  height: 550px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.modalContainer .title {
  text-align: center;
  padding-left: 30px;
}

.closeButton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  text-align: left;
  justify-content: center;
  padding-top: 70px;
}

.modalContainer .time-slots {
  display: inline-block;
  margin: 0 auto;
}
.modalContainer .foot {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}

.modalContainer .foot button {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #bea9ef;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
